@{
    ViewBag.Title = "1v1Me";
}
@section featured {

}
<h1>@ViewBag.Something</h1>
 <span class="DescriptionText">Ever want more from the 1v1 than bragging rights? 
                                  or a simple message afterwords saying (BK)... <br />@Html.ActionLink("Join Now","Register","Account")and wadger money on all the 1v1's. Anything from 
                                  $1.00 dollar USD to $10,000.00 and beyond!

    </span>
    <br />
    <br />
    <span class="DescriptionText">How it all works.</span>
    <ul class="DescriptionText">
        <li>step 1: Find a player and a game.</li>
        <li>step 2: Message the player.</li>
        <li>step 3: Set the amount.</li>
        <li>step 4: PLAY!</li>
    </ul>
    <span class="DescriptionText">Winner takes all</span>
