@{
    ViewBag.Title = "UserLanding";
}
@*<%: Request.IsAuthenticated %>*@
<h2>@ViewBag.UserName</h2>
<div id="UserTitle" style="background-color: #808080; height:100px; width:100%">
    <div class="circleBase type1"> 
    </div>
</div>
 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    $(function (f) {
        test();
    });

    function test() {
    }
   

</script>